
* {
  box-sizing: border-box;
}

html
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 325px;
}
/* the header elements */
header {
  background-image: url('assets/treebackground.jpg');
  background-color: #33373a;
  background-size: cover;
  color: #f8f8ff;
  height: 200px;
  border-bottom: 50px solid #ffd700;
}

.main-title {
  font-size: 1.2em;
  font-variant: small-caps;
  margin: 3.4em 1.3em;
  text-align: right;
  color: #33373a;
  font-weight: 600;
}

.welcome {
  text-align: right;
  margin: 0 .7em 1.2em 0;
  padding-top: .7em;
  font-size: 1em;
  color: #ffd700;
}

.nav-links
li {
  display: inline;
  list-style: none;
}

.header-button{
  width: 7em;
  border: none;
  font-size: 1.2em;
  background-color: transparent;
  cursor: pointer;
  color: #ffd700;
}
/* body background color gradient and fallbacks */
body {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  position: absolute;
  top: 8em;
  font-variant: small-caps;

}
/* cards and grid elements */
.card-grid {
  margin: 3em .5em ;
  display: grid;
  grid-row-gap: .7em;
  grid-column-gap: .7em;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}

.card {
  width: 100%;
  height: 100%;
  border: .2em solid #ffd700;
  padding: 4%;
  background-color: #f8f8ff;
}

.logo {
  object-fit: scale-down;
  width: 1.5em;
  position: sticky;
  top: 80em;
}

.image-elements {
  height: 250px;
  width: 100%;
}

.images {
  width: 100%;
  height: 250px;
  display: block;
  opacity: 75%;
  position: relative;
}

.fa-arrow-alt-circle-right {
  position: relative;
  top: -5em;
  left: .5em;
  color: #ffd700;
}

.img-views {
  position: relative;
  top: -13em;
  left: -1em;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: right;
  color: #ffd700;
}

.card-titles {
 text-align: center;
 font-size: 2em;
 height: 1em;
 font-weight: bold;
}

.card-info {
 text-transform: uppercase;
 font-size: 1.5em;
}


/* footer information */
footer {
  margin-top: 1em;
  height: 2em;
  background-color: #768992;
}

@media screen and (max-width: 480px){

  body {
    background: #2d545e;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #f8f8ff;
  }

  .card-grid {
    grid-row-gap: .5em;
  }

  .header-button {
    width: 10em;
    font-size: .5em;
    margin-top: 2em;
    padding: .5em 0 2.5em 0;
  }

  .welcome {
    padding: 0;
    margin:0;
    font-size: 1em;
  }

  .main-title {
    margin-top: 3em;
    font-size: .8em;
  }
}
