
* {
  box-sizing: border-box;
}

html
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 325px;
}
/* the header elements */
header {
  background-image: url('assets/treebackground.jpg');
  background-color: #33373a;
  background-size: cover;
  color: #f8f8ff;
  height: 200px;
  border-bottom: 50px solid #ffd700;
}

.main-title {
  font-size: 1.2em;
  margin: 3em;
  text-align: right;
  color: #33373a;
  font-weight: 600;
}

.welcome {
  text-align: right;
  margin: 0 10px 30px 0;
  padding-top: 10px;
  font-size: 1em;
  color: #ffd700;
}

.nav-links
li {
  display: inline;
  list-style: none;
}

.header-button{
  width: 7em;
  border: none;
  font-size: 1.2em;
  background-color: transparent;
  cursor: pointer;
  color: #ffd700;
}
/* body background color gradient and fallbacks */
body {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* cards and grid elements */
.card {
  width: 100%;
  height: 100%;
  border: .5em solid #ffd700;
  padding: 4%;
  background-color: #f8f8ff;
}

.images {
  align-self: auto;
  object-fit: scale-down;
  width: 100%;
  height: 250px;
}

.logo {
  margin: 0 10px;
  object-fit: scale-down;
  width: 1.5em;
  display: block;
}

.card-titles {
 text-align: center;
 font-family: fantasy, sans-serif;
 font-size: 2em;
 height: 1em;
 font-weight: bold;
}

.card-info {
 text-transform: capitalize;
 font-size: 1.5em;
}

.card-grid {
  margin: 1em ;
  align-items: center;
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}
/* footer information */
footer {
  margin-top: 1em;
  height: 2em;
  background-color: #768992;
}

@media screen and (max-width: 480px){

  body {
    background: #2d545e;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .card-grid {
    margin: 1em .5em;
    grid-row-gap: .5em;
  }

  .header-button {
    width: 10em;
    font-size: .5em;
    margin-top: 5em;
    padding: .5em;
  }

  .welcome {
    text-align: center;
    padding: 0;
    margin:0;
    font-size: .8em;
  }

  .main-title {
    margin-top: 3em;
    font-size: .8em;
  }
}
